<div class="table-responsive">
    <table id="visitTable" class="table">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Pv Clinic</th>
                <th>Visit Date</th>
                <th>PV Id</th>
                <th>Pv Phone</th>
                <th>Phone Type</th>
                <th>Cell Phone</th>
            </tr>
        </thead>
    </table>
</div>