<div class="table-responsive">
    <table id="visitTable" class="table">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Pv Clinic</th>
                <th>PV FinClass</th>
                <th>PD</th>
                <th>Chief Diag</th>
                <th>Codes</th>
                <th>OfficeKey</th>
                <th>Visit Date</th>
                <th>Details</th>
            </tr>
        </thead>
    </table>
</div>