@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section scripts{
}


<div class="row">
    <div class="col-sm-12">
        <ul class="pager">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"> Patient Chart</div>
            <div class="panel-body">
                <div id="image-gallery-3" class="cf">
                    <img src="assets/images/image_viewer/1.jpg" data-high-res-src="assets/images/image_viewer/1_big.jpg" alt="" class="pannable-image">
                    <img src="assets/images/image_viewer/2.jpg" data-high-res-src="assets/images/image_viewer/2_big.jpg" alt="" class="pannable-image">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Code Records</div>
            <div class="panel-body">
                <table id="CodeTable" class="table table-striped"></table>
            </div>
        </div>
    </div>
</div>