@model MedRecordManager.Models.DailyRecord.DetailRecord
@{
    ViewData["Title"] = "Detail Record View";
}

@{ 
    var tabId = "detail" + Model.VisitId;
}
    <div class="tab-pane" id="@tabId">
        TODO: This visit detail will be displayed
    </div>



