@model MedRecordManager.Models.SearchInputs
@{
    ViewData["Title"] = "Record Manager - Daily Review";
}

@section scripts{
    <script type="text/javascript">

        var dailyGrid;
        var patientGrid;
        var payerGrid;
        var guarantorGrid;

       
        $(document).ready(function () {
            var type = $('#searchType').val();
           
            var editManager = function (value, record, $cell, $displayEl, id, $grid) {
                var data = $grid.data(),                  
                    $detail = $('<button type="button"class="btn btn-info">Detail</button>').attr('data-key', id),
                    $edit = $('<button type="button"class="btn btn-danger">Edit</button>').attr('data-key', id),
                    $update = $('<button type="button"class="btn btn-success">Update</button>').attr('data-key',id).hide(),
                    $cancel = $('<button type="button"class="btn btn-default">Cancel</button>').attr('data-key', id).hide();
                    
                
                $detail.on('click', function (e) {
                    addTab($(this).data('key'))
                });
                $edit.on('click', function (e) {
                    $grid.edit($(this).data('key'));
                    $edit.hide();
                    $detail.hide();
                    $update.show();
                    $cancel.show();
                });
                $update.on('click', function (e) {
                    $grid.update($(this).data('key'));
                    $edit.show();
                    $detail.show();
                    $update.hide();
                    $cancel.hide();
                });
                $cancel.on('click', function (e) {
                    $grid.cancel($(this).data('key'));
                    $edit.show();
                    $detail.show();
                    $update.hide();
                    $cancel.hide();
                });
                $displayEl.empty().append($detail).append($edit).append($update).append($cancel).append('</div>');
            };

            if (type == 'Daily') {
                dailyGrid = $('#visitTable').grid({
                    primaryKey: 'visitId',
                    inlineEditing: { mode: 'command', managementColumn: false},
                    dataSource: '/Record/LoadDaily',
                    columnReorder: true,

                    columns: [
                        { field: 'pvRecordId', width:80, title: 'PV RecordId' },
                        { filed: 'visitId', hidden: true },
                        { field: 'patientName', minWidth: 300, title: 'Patient Name', editor: true },
                        { field: 'clinicName', minWidth: 100, title: 'Clinic Name', type: 'dropdown', editor: { dataSource: '/Record/GetClinic', valueField: 'id' }, editField: 'clinicName' },
                        { field: 'pvFinClass', minwidth:100, title: 'Finacial Class' },
                        { field: 'payment', minwidth: 100, title: 'Payment $'},
                        //{ field: 'diagCode', width: 150,title: 'Diag Codes' },
                        //{ field: 'icdCodes', width: 150,title: 'Icd Codes' },
                        { field: 'procCodes', minwidth: 150,title: 'Proc Codes' },
                        { field: 'visitTime', minwidth: 100, title: 'Visit Date' },
                        //{ field: 'Action', width: 100, renderer: detailButtonRender },
                        {field:'Actions', minwidth: 200, renderer: editManager }
                    ],
                    pager: { limit: 10, sizes: [2, 5, 10, 20] },
                    detailTemplate: '<div><table/></div>'
                });

                dailyGrid.on('detailExpand', function (e, $detailWrapper, id) {
                    $detailWrapper.find('table').grid({
                        params: { visitId: id },
                        dataSource: '/Record/Payer',
                        autoGenerateColumns: true
                    });
                });

                dailyGrid.on('detailCollapse', function (e, $detailWrapper, id) {
                    $detailWrapper.find('table').grid('destroy', true, true);
                });

                dailyGrid.on('rowDataChanged', function (e, id, record) {
                    var data = $.extend(true, {}, record);
                    $.ajax({
                        url: "",
                        data: { record: data },
                        method: 'POST'
                    }).fail(function () {
                        alert("Failt to save the changes.")
                    })
                })
            }
            else if (type == 'Callback') {
                dailyGrid = $('#visitTable').grid({
                    primaryKey: 'pvId',
                    inlineEditing: { mode: 'dblclick' },
                    dataSource: '/Record/LoadCallback',
                    uiLibrary: 'bootstrap',
                    columns: [
                        { field: 'pvId', hidden: true },
                        { field: 'patientName' },
                        { field: 'pvClinic' },
                        { field: 'visitDate' },
                        { field: 'pvPhone', title: 'Phone No.', editor: true },
                        { field: 'pvPhoneType', title: 'Type', editor: true },
                        { field: 'cellPhone', editor: true }
                    ],
                    pager: { limit: pagelimit, sizes: pagesize }
                });

            }

            patientGrid = $('#patientGrid').grid({
                primaryKey: 'PvPaitentId',
                datasource: '/record/GetPatientDetail',
                uiLibrary: 'bootstrap',
            });

            payerGrid = $('#payerGrid').grid({
                primaryKey: 'PvPaitentId',
                datasource: '/record/GetPatientDetail',
                uiLibrary: 'bootstrap',
            });

            guarantorGrid = $('#guarantorGrid').grid({
                primaryKey: 'PvPaitentId',
                datasource: '/record/GetPatientDetail',
                uiLibrary: 'bootstrap',
            });


            $('#startDate').datepicker({
                uiLibrary: 'bootstrap'
            });

            $('#endDate').datepicker({
                uiLibrary: 'bootstrap'
            });

            $('#searchButton').on('click', function () {
                var type = $('#searchType').val();

                if (type === 'Daily') {
                    var keys = [];
                    $('#officeKey > Option:selected').each(function () {
                        keys.push(this.value);
                    })
                    dailyGrid.clear();
                    dailyGrid.reload({ office: keys.join(','), startDate: $('#startDate').val(), endDate: $('#endDate').val() });
                }

                else if (type === 'Callback') {
                    dailyGrid.clear();
                    dailyGrid.reload({ office: $('#officeKey').val(), startDate: $('#startDate').val(), endDate: $('#endDate').val() });
                }

                $('.dataView').show();
            });


            $('#btnRun').click(function () {
                $('#btnRun').attr('disabled', true);
                $.ajax({
                    url: 'http://172.31.22.98/api/default',
                    data: {
                        officeKey: $('#officeKey').val(),
                        startDate: $('#startDate').val(),
                        endDate: $('#endDate').val()
                    },
                    type: 'Post',
                    success: function () {
                        $('#btnRun').attr('disabled', false);
                    },
                    dataType:'json'
                })
            })

            function addTab(id) {
                if ($('#detail' + id).length == 0) {
                    $('.nav-tabs').find('li').last().after('<li><a data-toggle="tab" href="#detail' + id + '"><b>Visit ' + id + '</b></a></li>');
                    $.ajax({
                        type: "GET",
                        data: {
                            visitId: id
                        },
                        url: "/Record/GetDetails",
                        dataType: 'html',
                        success: function (response) {

                            $('.tab-content').append(response);
                            $(".nav-tabs li").children('a').last().click();
                        }
                    });
                }
                else
                {
                    $('a[href$="#detail' + id+'"]').click();
                }
            }   
        });

    </script>

}

    <ul class="nav nav-tabs" role="tablist">
        @if (Model.Type == "Daily")
        {
            <li class="active"><a data-toggle="tab" href="#mainView"><b>Daily Review</b></a></li>

        }
        else if (Model.Type == "Callback")
        {
            <li class="active"><a data-toggle="tab" href="#mainView"><b>Call Back</b></a></li>

        }

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="mainView">
            <input type="hidden" asp-for="Type" id="searchType" />
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="OfficeKey" class="control-label"> Select Office Key(s)</label>
                        <select class="form-control" asp-for="OfficeKey" , asp-items="@Model.OfficeKeys" id="officeKey" multiple></select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label">Visit Start Date</label>
                        <input class="form-control date" id="startDate" />
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label">Visit End Date</label>
                        <input class="form-control date" id="endDate" />
                    </div>

                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <div class="control-group">
                            <div style="margin-top: 24px;">
                                <input type="button" value="Search" class="btn btn-primary" id="searchButton" />
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Type == "Callback")
                {
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label asp-for="Clinic" class="control-label">Select Clinic(s)</label>
                                <select class="form-control" asp-for="Clinic" , asp-items="@Model.Clinics" id="officeKey" multiple></select>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <p></p>
            <div class="row dataView"  style="display:none">
                <div class="col-sm-10">
                    <div id="Results">
                        <div class="table-responsive">
                            <table id="visitTable" class="table"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row dataView" style="display:none">
                <div class="col-sm-1 " style="float: left">
                    <button class="btn btn-success text-right" id="btnRun">Run</button>
                    </div>
                </div>
            </div>
    </div>
