@model MedRecordManager.Models.SearchInputs
@{
    ViewData["Title"] = "Record Manager - Daily Review";
}

@section scripts{
    <script type="text/javascript">
        var dailyGrid;
        var pagelimit = 10;
        var pagesize = [5, 10, 20, 30];
        $(document).ready(function (){            
          var type = $('#searchType').val();
            if (type == 'Daily') {
                

                dailyGrid = $('#visitTable').grid({
                    primaryKey: 'pvRecordId',
                    inlineEditing: { mode: 'dblclick' },
                    dataSource: '/Record/LoadDaily',
                    uiLibrary: 'bootstrap',
                    columns: [
                        { field: 'pvRecordId', hidden: true },
                        { field: 'patientId', hidden: true },
                        { field: 'patientName', title: 'Patient Name', editor: true },
                        { field: 'clinicName', title: 'Clinic Name', editor: true },
                        { field: 'pvFinClass' },
                        { field: 'PD' },
                        { field: 'diagCode', },
                        { field: 'codes' },
                        { field: 'officeKey', title: 'Office Key', editor: true },
                        { field: 'visitTime', title: 'Visit DateTime' },
                        { field: 'details' }
                    ],
                    pager: { limit: pagelimit, sizes: pagesize }
                });
            }

            else if (type == 'Callback') {
                dailyGrid = $('#visitTable').grid({
                    primaryKey: 'pvId',
                    inlineEditing: { mode: 'dblclick' },
                    dataSource: '/Record/LoadCallback',
                    uiLibrary: 'bootstrap',
                    columns: [
                        { field: 'pvId', hidden: true },
                        { field: 'patientName' },
                        { field: 'pvClinic' },
                        { field: 'visitDate' },
                        { field: 'pvPhone', title: 'Phone No.', editor: true },
                        { field: 'pvPhoneType', title: 'Type', editor: true },
                        { field: 'cellPhone', editor: true }
                    ],
                    pager: { limit: pagelimit, sizes: pagesize }
                });

            }


            $('#startDate').datepicker({
                uiLibrary: 'bootstrap'
                });

            $('#endDate').datepicker({
                uiLibrary: 'bootstrap'
            });


            $('#searchButton').on('click', function () {
                var type = $('#searchType').val();

                if (type === 'Daily') {
                    var keys = [];
                    $('#officeKey > Option:selected').each(function () {
                        keys.push(this.value);
                    })
                    dailyGrid.reload({ office: keys.join(','), startDate: $('#startDate').val(), endDate: $('#endDate').val() });
                }

                else if (type === 'Callback') {
                    dailyGrid.reload({ office: $('#officeKey').val(), startDate: $('#startDate').val(), endDate: $('#endDate').val() });
                }

            });

        });
      
    </script>

}


@if (Model.Type == "Daily")
{
    <h2>Daily Review</h2>
}
else
{
    <h2>Call Back</h2>
}

    <input type="hidden" asp-for="Type" id="searchType" />
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <select class="form-control" asp-for="OfficeKey" , asp-items="@Model.OfficeKeys" id="officeKey" multiple></select>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                @*<div class="input-group date datepicker">
                        <input class="form-control date" asp-for="StartDate" id="startDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>*@
                <input class="form-control date" id="startDate" />
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                @*<div class='input-group date datepicker'>
                        <input class="form-control date" asp-for="EndDate" id='EndDate' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>*@
                <input class="form-control date" id="endDate" />
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" value="Search" class="btn btn-primary" id="searchButton" />
        </div>
    </div>

    @if (Model.Type == "Callback")
    {
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control" asp-for="Clinic" , asp-items="@Model.Clinics" id="officeKey" multiple></select>
                </div>
            </div>
        </div>

    }
<p></p>
<div class="row">
    <div class="col-lg-10">
        <div id="Results">
            <div class="table-responsive">
                <table id="visitTable" class="table"></table>
            </div>
        </div>
    </div>
</div>
