@model MedRecordManager.Models.SearchInputs
@{
    ViewData["Title"] = "Record Manager - Daily Review";
}

@section scripts{
    <script type="text/javascript">

        var dailyGrid;
        var patientGrid;
        var payerGrid;
        var guarantorGrid;

        $(document).ready(function () {
            var type = $('#searchType').val();
            var detailButtonRender = function (value, record, $cell, $displayEl) {
                var $btn = $('<button type="button" class="btn btn-danger">Detail</button>').on('click', function () {
                    $.ajax({
                        type: "GET",
                        data: {
                            visitId: record.visitId
                        },
                        url: "/Record/GetDetails",
                        dataType: 'json',
                    }).done(function (response) {
                        $('#Results').html(response);
                    });
                });
                $displayEl.append($btn);
            };
            if (type == 'Daily') {
                dailyGrid = $('#visitTable').grid({
                    primaryKey: 'visitId',
                    inlineEditing: { mode: 'dblclick' },
                    dataSource: '/Record/LoadDaily',
                    selectionType: 'multiple',
                    selectionMethod: 'checkbox',
                    uiLibrary: 'bootstrap',
                    columnReorder: true,

                    columns: [
                        { field: 'pvRecordId', hidden: true },
                        { field: 'patientId', hidden: true },
                        { filed: 'visitId', hidden: true },
                        { field: 'patientName', title: 'Patient Name', editor: true },
                        { field: 'clinicName', title: 'Clinic Name', editor: { datasource: '/Record/GetClinic', valuefield: 'ClinicId' }, editField: 'ClinicId' },
                        { field: 'pvFinClass', title: 'Finacial Class' },
                        { field: 'payment', title: 'Payment' },
                        { field: 'diagCode', title: 'Diag Codes' },
                        { field: 'icdCodes', title: 'Icd Codes' },
                        { field: 'officeKey', title: 'Office Key' },
                        { field: 'visitTime', title: 'Visit Date' },
                        { field: 'Action', renderer: detailButtonRender }
                    ],
                    pager: { limit: 10, sizes: [2, 5, 10, 20] },
                    detailTemplate: '<div><table/></div>'
                });

                dailyGrid.on('detailExpand', function (e, $detailWrapper, id) {
                    $detailWrapper.find('table').grid({
                        params: { visitId: id },
                        dataSource: '/Record/Payer',
                        autoGenerateColumns: true,
                        pager: { limit: 5 }
                    });
                });

                dailyGrid.on('detailCollapse', function (e, $detailWrapper, id) {
                    $detailWrapper.find('table').grid('destroy', true, true);
                });
            }
            else if (type == 'Callback') {
                dailyGrid = $('#visitTable').grid({
                    primaryKey: 'pvId',
                    inlineEditing: { mode: 'dblclick' },
                    dataSource: '/Record/LoadCallback',
                    uiLibrary: 'bootstrap',
                    columns: [
                        { field: 'pvId', hidden: true },
                        { field: 'patientName' },
                        { field: 'pvClinic' },
                        { field: 'visitDate' },
                        { field: 'pvPhone', title: 'Phone No.', editor: true },
                        { field: 'pvPhoneType', title: 'Type', editor: true },
                        { field: 'cellPhone', editor: true }
                    ],
                    pager: { limit: pagelimit, sizes: pagesize }
                });

            }

            patientGrid = $('#patientGrid').grid({
                primaryKey: 'PvPaitentId',
                datasource: '/record/GetPatientDetail',
                uiLibrary: 'bootstrap',
            });

            payerGrid = $('#payerGrid').grid({
                primaryKey: 'PvPaitentId',
                datasource: '/record/GetPatientDetail',
                uiLibrary: 'bootstrap',
            });

            guarantorGrid = $('#guarantorGrid').grid({
                primaryKey: 'PvPaitentId',
                datasource: '/record/GetPatientDetail',
                uiLibrary: 'bootstrap',
            });


            $('#startDate').datepicker({
                uiLibrary: 'bootstrap'
            });

            $('#endDate').datepicker({
                uiLibrary: 'bootstrap'
            });

            $('#searchButton').on('click', function () {
                var type = $('#searchType').val();

                if (type === 'Daily') {
                    var keys = [];
                    $('#officeKey > Option:selected').each(function () {
                        keys.push(this.value);
                    })
                    dailyGrid.clear();
                    dailyGrid.reload({ office: keys.join(','), startDate: $('#startDate').val(), endDate: $('#endDate').val() });
                }

                else if (type === 'Callback') {
                    dailyGrid.clear();
                    dailyGrid.reload({ office: $('#officeKey').val(), startDate: $('#startDate').val(), endDate: $('#endDate').val() });
                }

                addTab();
            });

            //$('.nav-tab').on('click', "a", function (e) {
            //    e.preventDefault();

            //}).on('click', 'span', function () {
            //    var anchor = $(this).siblings('a');
            //    $(anchor.attr('href')).remove();
            //    $(this).parent().remove();
            //   $(".nav-tabs li").children('a').first().click();
            // });

            function addTab() {
                $('.nav-tabs').find('li').after('<li><a data-toggle="tab" href="#detail"><b>Detail View</b></a></li>');
                $('.tab-content').append('<div class="tab-pane" id="detail" >This is  the detail view</div>');
                $(".nav-tabs li").children('a').last().click();
                
            }
        });

    </script>

}

    <ul class="nav nav-tabs" role="tablist">
        @if (Model.Type == "Daily")
        {
            <li class="active"><a data-toggle="tab" href="#mainView"><b>Daily Review</b></a></li>

        }
        else if (Model.Type == "Callback")
        {
            <li class="active"><a data-toggle="tab" href="#mainView"><b>Call Back</b></a></li>

        }

    </ul>
    <div class="tab-content">
        <div class="tab-pane active"  id="mainView">
            <input type="hidden" asp-for="Type" id="searchType" />
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="OfficeKey" class="control-label"> Select Office Key(s)</label>
                        <select class="form-control" asp-for="OfficeKey" , asp-items="@Model.OfficeKeys" id="officeKey" multiple></select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label">Visit Start Date</label>
                        <input class="form-control date" id="startDate" />
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label">Visit End Date</label>
                        <input class="form-control date" id="endDate" />
                    </div>

                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <div class="control-group">
                            <div style="margin-top: 24px;">
                                <input type="button" value="Search" class="btn btn-primary" id="searchButton" />
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Type == "Callback")
                {
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label asp-for="Clinic" class="control-label">Select Clinic(s)</label>
                                <select class="form-control" asp-for="Clinic" , asp-items="@Model.Clinics" id="officeKey" multiple></select>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <p></p>
            <div class="row">
                <div class="col-lg-10">
                    <div id="Results">
                        <div class="table-responsive">
                            <table id="visitTable" class="table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
