@model IEnumerable<MedRecordManager.Models.RuleDefs.RuleItem>

<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">PV Physican Id</label>
            </th>
            <th>
                <label class="control-label">Physican First Name</label>
            </th>
            <th>
                <label class="control-label">Physican Last Name</label>
            </th>

            <th>
                <label class="control-label">Amd Provider Name</label>
            </th>
            <th>
                <label class="control-label">Amd Provider Code</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
        <tr>
            <td class="primaryId">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                <button class="btn btn-link detailPh">Details</button>|
            </td>

            <td>
                <button class="btn btn-link editPh">Edit</button>|
                <button class="btn btn-link deletePh">Delete</button>|
                <button class="btn btn-link addPh">Create</button>
            </td>
        </tr>
            }
        }
        else
        {
            <tr><td>No Physisian has been found. | <button class="btn btn-link addPh">Create</button></td></tr>

        }
    </tbody>
</table>
