@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script type="text/javascript">
         var companyGrid;

        $(document).ready(function () {
              companyGrid = $('#companyTable').grid({
                primaryKey: 'Id',
                dataSource: '/UserAdmin/getUserCompanies',
                columns: [
                    { filed: 'Id', hidden: true },
                    { field: 'displayName', Width: 300, title: 'Company Full Name' },
                    { field: 'companyName', Width: 300, title: 'Company Short Name' },
                    { field: 'address1', Width: 300, title: 'Address Line 1' },
                    { field: 'address2', minwidth: 80, title: 'Address Line 2' },
                    { field: 'city', minwidth: 80, title: 'City' },
                    { field: 'state', minwidth: 80, title: 'State' },
                    { field: 'zip', minwidth: 80, title: 'Zip' },
                    { field: 'email', Width: 150, title: 'Company Email' },
                    { field: 'phone', minwidth: 100, title: 'Company Phone number' }
                  
                ],
                pager: { limit: 10, sizes: [2, 5, 10, 20] },
            });

        });
    </script>
}


<h1>Company Manager</h1>

<div class="row top-buffer">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Company profile Records</h3>
            </div>
            <div class="box-body">
                @if (User.IsInRole("SuperAdmin"))
                {

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success pull-right" id="btnAddCompany" data-toggle="modal" data-target="#modalUser">Add Company</button>
                        </div>
                    </div>
                }
                               
                <div class="row" style="margin-top: 10px">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table id="companyTable" class="table table-striped"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


