@using Microsoft.AspNetCore.Identity
@using MedRecordManager.Models
@inject SignInManager<MedRecordManager.Models.UserRecord.ApplicationUser> SignInManager
@inject UserManager<MedRecordManager.Models.UserRecord.ApplicationUser> UserManager

<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>A</b>LT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>MedRecord</b>Manager</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="@*navbar-custom-menu*@">
            <ul class="nav navbar-nav">
                @* BEGIN Messages *@
               
                @* END Messages *@
                @* BEGIN Notifications *@
        
                @* END Notifications *@
                @* BEGIN Tasks *@
               
                @* END Tasks *@
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                   
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-nav">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                                </li>
                                <li>
                                    <button type="submit" class="btn navbar-btn navbar-link btn-link text-gray">Logout</button>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                <ul class="nav navbar-nav navbar-right">
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                    }
                    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                </ul>
                    }
                </li>
                @* BEGIN Control Sidebar Toggle Button *@
                @*<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>*@
                @* END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>
</header>